*.iml
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.ipr
*.iws
hs_err_pid*
bin/
gen/
.gradle/
build/
proguard/
*.log
.navigation/
gen-external-apklibs
.mtj.tmp/
/local.properties
/.idea/
.DS_Store
/build
/captures
/out/
.idea_modules/
.externalNativeBuild
atlassian-ide-plugin.xml
